
/* ESTILOS GENERALES */
*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #E3E7EF;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inconsolata ;
    font-size: 24px;
    z-index: 0;
}

body{
  background-color: #191D2D;
  overflow-x: hidden;
  display: flex;
}

/* CURSOR */
.cursor{
  background: linear-gradient(to right, #5b4597, #08c683);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  filter: blur(8vmax);
}

.cursor::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}


/* FUENTES TIPOGRAFICAS */
.inconsolata__text {
    font-family: "Inconsolata", system-ui;
    font-optical-sizing: auto;
    font-weight: 24px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }  

.oswald-text {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 24px;
    font-style: normal;
}