/* CABECERA */
.cabecera{
    background-color: rgb(37, 43, 67);
    /* border: solid 3px red; */
    border-bottom:solid 3px rgb(150, 118, 238);
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0px;
}

.cabecera__logo{
    padding: 10px;
    padding-left: 50px;
}

.cabecera__titulo{
    padding-left: 3%;
    font-size: 40px;
    color: #25efc7;
}

.navegacion{
    /* border: solid 3px green; */
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}

.navegacion__lista{  
    /* border: solid 3px aqua; */
    border-right: solid 3px #E3E7EF;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.navegacion__elemento{
    /* border: solid 3px red; */
    border-left: solid 3px #E3E7EF;
    padding: 10px;
}

.navegacion__elemento a{
    text-decoration: none;
}



/* MAIN */
.cuerpo{
    margin-top: 100px;
}

/* DESCRIPCION */
.cuerpo__descripcion{
    /* border: solid 3px red; */
    display: flex;
    align-items: center;
    padding: 2.5% ;

}

.cuerpo__descripcion__foto{
    width: 25%;
    height: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.cuerpo__descripcion__contenedor{
    border: solid 3px rgb(150, 118, 238);
    border-radius: 10px;
    background-color: rgb(37, 43, 67);
    margin-left: auto;
    margin-right: 5%;
    max-width: 70%;
    padding: 3%;
    height: 100%;
}

.cuerpo__descripcion__contenedor .descripcion__gif{
    align-items: center;
}

.cuerpo__descripcion__contenedor div{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cuerpo__descripcion__contenedor div h1{
    color: #25efc7;
    font-size: 34px;
    margin-left: 3%;
}

.descripcion__gif{
    width: 325px;
}

.cuerpo__descripcion__contenedor p{
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
}

.descripcion__redes{
    display: flex;
    justify-content: center;
    list-style: none;
}

.descripcion__redes li{
    padding: 3%;    
}

.descripcion__redes li img{
    width: 50px;
}


/* EXPERIENCIA */
.cuerpo__experiencia{
    border: solid 3px red;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 2.5%;
}

.experiencia__titulo{
    text-align: center;
    padding: 3%;
    padding-bottom: 0;
    font-size: 34px;
}

.experiencia__galeria{
    display: flex;
    flex-direction: column;
}

.experiencia__contenedor{
    border: solid 3px rgb(150, 118, 238);
    border-radius: 10px;
    background-color: rgb(37, 43, 67);
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin: 2%;
}

.experiencia__contenedor__img{
    border: solid 3px red;
    width: 40%;
}

.experiencia__contenedor__descripcion{
    border: solid 3px red;
    margin-left: auto;
    max-width: 50%;
    padding: 1.5%;
    
}


/* HABILIDADES */
.cuerpo__habilidades{
    border: solid 3px red;
    padding: 50px 10%;
}

.habilidades__titulo{
    text-align: center;
    padding: 3%;
}

.habilidades__galeria{
    display: flex;
    gap: 2%;
    justify-content: center;
}

.habilidades__contenedor{
    border: solid 3px rgb(150, 118, 238);
    border-radius: 10px;
    background-color: rgb(37, 43, 67);
    padding: 3%;
}


/* FORMACION */
.cuerpo__formacion{
    border: solid 3px red;
    padding: 50px 10%;
}

.formacion__titulo{
    text-align: center;
    padding: 3%;
}

.formacion__galeria{
    display: flex;
    gap: 2%;
    justify-content: center;
}

.formacion__contenedor{
    border: solid 3px rgb(150, 118, 238);
    border-radius: 10px;
    background-color: rgb(37, 43, 67);
    padding: 10% 20%;

}

/* SOBRE MI */
.cuerpo__sobreMi{
    border: solid 3px red;
    display: flex;
    padding: 50px 10%;
    justify-content: center;
}

.cuerpo__sobreMi__contenedor{
    border: solid 3px rgb(150, 118, 238);
    border-radius: 10px;
    background-color: rgb(37, 43, 67);
    max-width: 50%;
    padding: 3%;
}



/* FOOTER */
footer{
    border: solid 3px red;
}