/* CABECERA */
.cabecera{
    border: solid 3px red;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.cabecera__logo{
    padding: 20px;
    padding-left: 50px;
}

.cabecera__titulo{
    font-size: 24px;
    padding-left: 5%;
}

.navegacion{
    border: solid 3px green;
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}

.navegacion__lista{  
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: solid 3px aqua;
    align-items: center;
}

.navegacion__elemento{
    border: solid 3px red;
    padding: 10px;
}

.navegacion__elemento a{
    text-decoration: none;
    
}

/* MAIN */
.cuerpo{
    border: solid 3px red;
}

/* DESCRIPCION */
.cuerpo__descripcion{
    border: solid 3px red;
    display: flex;
    padding: 5% ;    
}

.cuerpo__descripcion__foto{
    width: 30%;
    height: 30%;
    margin-left: 5%;
}

.cuerpo__descripcion__contenedor{
    margin-left: auto;
    margin-right: 5%;
    border: solid 3px aqua;
    max-width: 50%;
    padding: 3%;

}

/* EXPERIENCIA */
.cuerpo__experiencia{
    border: solid 3px red;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 50px 10%;
}

.experiencia__titulo{
    text-align: center;
    padding: 3%;
}

.experiencia__galeria{
    display: flex;
    flex-direction: column;
}

.experiencia__contenedor{
    display: flex;
    flex-direction: row;
    border: solid 3px aqua;
    padding: 3%;
}

.experiencia__contenedor__img{
    border: solid 3px red;
}

.experiencia__contenedor__descripcion{
    border: solid 3px red;
    
}


/* HABILIDADES */
.cuerpo__habilidades{
    border: solid 3px red;
    padding: 50px 10%;
}

.habilidades__titulo{
    text-align: center;
    padding: 3%;
}

.habilidades__galeria{
    display: flex;
    gap: 2%;
    justify-content: center;
}

.habilidades__contenedor{
    border: solid 3px aqua;
    padding: 3%;
}


/* FORMACION */
.cuerpo__formacion{
    border: solid 3px red;
    padding: 50px 10%;
}

.formacion__titulo{
    text-align: center;
    padding: 3%;
}

.formacion__galeria{
    display: flex;
    gap: 2%;
    justify-content: center;
}

.formacion__contenedor{
    border: solid 3px aqua;
    padding: 10% 20%;

}

/* SOBRE MI */
.cuerpo__sobreMi{
    border: solid 3px red;
    display: flex;
    padding: 50px 10%;
}

.cuerpo__sobreMi__foto{
    width: 30%;
    height: 30%;
    margin-left: 5%;
}

.cuerpo__sobreMi__contenedor{
    margin-left: auto;
    margin-right: 5%;
    border: solid 3px aqua;
    max-width: 50%;
    padding: 3%;
}